###########################
#WebStorm Files
###########################
.idea/
*ipr
*.iml

###########################
#NPM Files
###########################
node_modules/
npm-debug.log

###########################
#JS Files
###########################
app/*.js
app/*.js.map

###########################
#Typings Files
###########################
typings/